<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Set Apple icons for when prototype is saved to home screen -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="touch-icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="touch-icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="touch-icons/apple-touch-icon-57x57.png">
    

    <title>GameJS Application</title>
    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="style/app.css">
    <link rel="stylesheet" type="text/css" href="style/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style/bootstrap-responsive.min.css">

    <!-- Start javascript/main.js -->
    <script src="lib/yabble.js"></script>
    <script src="lib/gamejs.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>
<body>
    <script>
        $(document).ready(function(){
            require.setModuleRoot("js/");

            $("#gjs-canvas").mousedown(function(event){
                event.preventDefault();
            });

            $('#start').click(function(event){
                $('.container').fadeOut(100, function(){
                    $('#gjs-canvas').fadeIn(1000);
                    require.run("app");
                });
            });
        });
    </script>
    <canvas style = 'display:none;' id="gjs-canvas"></canvas>

    <div class="container">

        <div class = 'hero-unit'>
            <br><br><br>
        </div>

        <center class = 'play' >
            <h1><a href="#" id = 'start'>&nbsp; Play! &nbsp;»</a></h1>
        </center>

        <div class="row-fluid">
            <div class="span6">
                <h2 class = 'text-center'>
                    Powerups
                </h2>
                <p>
                    <ul class = 'info'>
                        <li>
                            <img src="images/Powerups/damage.png">
                            <td class = 'right'>
                                Double damage
                            </td>
                        </li>
                        <li>
                            <img src="images/Powerups/health.png"> 
                            <td class = 'right'>
                                Health refill
                            </td>
                        </li>
                        <li>
                            <img src="images/Powerups/invincible.png"> 
                            <td class = 'right'>
                                Invincibility
                            </td>
                        </li>
                        <li>
                            <img src="images/Powerups/kill.png"> 
                            <td class = 'right'>
                                Kill all enemies
                            </td>
                        </li>
                        <li>
                            <img src="images/Powerups/spray.png"> 
                            <td class = 'right'>
                                Unlimited lasers
                            </td>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="span6">
                <h2 class = 'text-center'>
                    Controls
                </h2>

                    <table class = 'infoT'>
                        <tr>
                            <td class = 'left'>
                                Space
                            </td> 
                            <td class = 'right'>
                                Shoot rockets (1 per second)
                            </td>
                        </tr>

                        <tr>
                            <td class = 'left'>
                                Left click
                            </td> 
                            
                            <td class = 'right'>
                                Shoot lasers (hold to spray)
                            </td>
                        </tr>

                        <tr>
                            <td class = 'left'> W/A/S/D </td> 
                            <td class = 'right'>
                                Move
                            </td>

                        </tr>
                        <tr>
                            <td class = 'left'> MOUSE </td> 

                            <td class = 'right'>
                                Aim
                            </td>
                            
                        </tr>

                        <tr>
                            <td class = 'left'> P </td> 

                            <td class = 'right'>
                                Pause [any key to unpause]
                            </td>
                            
                        </tr>
                    </table>
            </div>
        </div>

        <footer>
            <p class = 'text-center'>
                Powered by <a href="http://gamejs.org">GameJs</a> and <a href='http://opengameart.org/'>Open game art</a>, Created by <a href='https://github.com/fm2munsh'>Farhan Munshi</a>
            </p>
        </footer>
    </div>
</body>
</html>