<!DOCTYPE html>
<html>
<head>
    <title>GameJS Application</title>
    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="style/app.css">

    <!-- Start javascript/main.js -->
    <script src="lib/yabble.js"></script>
    <script src="lib/gamejs.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        require.setModuleRoot('js/');
        require.run('app');
    </script>

</head>
    <div>
        <div id="gjs-loader">
            Loading...
        </div>
        <canvas id="gjs-canvas"></canvas>
        <p>
        Powered by <a href="http://gamejs.org">GameJs</a>.
        </p>
    </div>
    </body>
</html>